__pycache__
*.egg-info
.DS_Store
replays

kaggle-environments

dist
build

__temp__.mp4
.ipynb_checkpoints

node_modules
dist

.vscode

replay.json
replay.html
/kits/java/target
/kits/java/.idea/
/kits/java/luxai2022.iml
/kits/java/localrun/*.jar
