.infoPanel {
  width: 100%;height:100%;
  
}
$p0-primary: #007D51;
$p0-secondary: #1EB980;
$p1-primary: #0082FB;
$p1-secondary: #0082FB;

.body {
  overflow: hidden;
  position: relative;
  background-color: #373740;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  .chartWrapper {
    padding: 1rem;
  }
  .liststats {
    display: flex;
    margin: auto;
    width: calc(100% - 1rem);
    justify-content: center;
    // width: 100%;
    // text-align: center;
    position: relative;
    .liststatHeader { 
      margin-left: 0.5rem;
      text-align: left;
      margin-top: 0.5rem;
    }
  }
  .globalStats {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: calc(100% - 8rem);
    p {
      margin: 0.5rem;
    }
    .value {
      width: 20%;
      height: 8rem;
      div {
        background-color: var(--p0_c);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .value:last-child div {
      background-color: var(--p1_c);
    }
    
  }
}
$teamborderradius: 8rem;
.teams {
  position: relative;
  width: 100%;
  font-weight: 600;
  height: 4rem;
  .teamname {
    font-size: 1.5rem;
  }
  p {
    margin: 0rem;
    margin-bottom: 0.15rem;
  }
  p:last-child {
    margin-bottom: 0.5rem;
  }
  .p0 {
    left: 0;
    top: 0;
    position: absolute;
    width: 50%;
    background-color: var(--p0_c);
    border-top-right-radius: $teamborderradius;
    text-align: left;
    padding-left: 1rem;
  }
  .p1 {
    right: 0;
    top: 0;
    position: absolute;
    width: 50%;
    background-color: var(--p1_c);
    border-top-left-radius: $teamborderradius;
    text-align: right;
    padding-right: 1rem;
  }
}
$slider-width: 38rem;
.weather {
  height: 4px;
  padding: 13px 0;
  display: inline-block;
  position: relative;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  max-width: 38rem;
  width: calc(100% - 10rem);
  margin-bottom: 2.5rem;
  .title {
    margin-bottom: 0.5rem;
  }
  .slidertick {
    height: 16px;
    margin-top: -6px;
    width: 2px;
    margin-left: -1px;
    position: absolute;
    display: block;
    background-color: white;
  }
  .slider {
    max-width: $slider-width;
    width: calc(100% - 10rem);
    width: 100%;
    height: 4px;
    display: block;
    opacity: 0.38;
    position: absolute;
    border-radius: 1px;
    background-color: currentColor;
  }
  .weatherevent {
    width: 100%;
    height: 4px;
    display: block;
    opacity: 1;
    position: absolute;
    border-radius: 1px;
    background-color: red;
  }
}