.mapContainer {
  position: relative;
}

.mapLayer {
  position: absolute;

  // TODO: THIS IS CURRENTLY A TEMPORARY HARDCODED LENGTH FOR TESTING
  display: grid;
  grid-template-columns: repeat(64, 1fr);
}

.tile {
  display: flex;
}

.unit {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transform: translate3d(var(--x), var(--y), 0);
  transition: transform var(--t) ease;
}