#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #EF784F;
  color: white;
}

html, body, #app {
  height: 100%;
}
p, span, div {
  font-weight: 600;
}