#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
  /* background-color: #EF784F; */
  background-color: #373740;
  color: white;
}
html {
  
}
html, body, #app {
  font-family: sans-serif;
  height: 100%;
  background-color: #373740;
}
p, span, div {
  font-family: sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: DIN;
  font-weight: 400;
  line-height: 250%;
  src: url(assets/fonts/DIN-Regular.ttf);
}
@font-face {
  font-family: DIN;
  font-weight: 600;
  line-height: 250%;
  src: url(assets/fonts/DIN-Bold.ttf);
}