.viewer {
  display: flex;
  width: 100%;
  // flex-wrap: wrap;
  // justify-content: center;
  
}
.gameWrapper {
  // flex: 1 1 auto;
  display: inline-block;
  padding: 1rem;
  padding-top: 1.5rem;
  // width: max-content;
  vertical-align: top;
  flex-grow: 0;
  flex-basis: 0;
}
.leftPanel {
  display: inline-block;
  padding-top: 1.5rem;
  padding: 1rem;
  vertical-align: top;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 0;
}
.gameMapWrapper {
  padding: 1rem;
  width: max-content;
  background-color: #EF784F;
  // justify-content: center;
  // display: flex;
}
.viewer > div {
  
}
