.viewer {
  display: flex;
  width: 100%;
}
.gameWrapper {
  width: 70%;
}
.leftPanel {
  width: 30%;
  height: 20rem;
  padding: 1rem;
}
.gameMapWrapper {
  padding-top: 1rem;
  justify-content: center;
  display: flex;
}
.viewer > div {
  
}