@use "sass:math";
@import "../../main.scss";

$slider-width: 38rem;

.controls {
  position: relative;
  margin-top: 1rem;
}

.turn {
  text-align: center;
  font-weight: 600;
  margin-left: -2rem;
}

.slider {
  width: $slider-width;
}
.buttons:hover {
  text-decoration: none;
  border: none;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}
.buttons button img {
  vertical-align:middle;
}
.buttons button {
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: transparent;
}
.speed {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

:global {
  // https://mui.com/base/react-slider/
  // TODO: clean this up. the styles were initially copied from the example in the mui docs
  
  .MuiSlider-root {
    height: 4px;
    // width: 100%;
    padding: 13px 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  .MuiSlider-rail {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
    opacity: 0.38;
  }

  .MuiSlider-track {  
    display: block;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }

  .MuiSlider-range {
    position: absolute;
    background-color: orange;
    border-radius: 9999px;
    height: 100%;
  }

  .MuiSlider-thumb {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: -6px;
    margin-top: -5px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: 0;
    border: 2px solid currentColor;
    background-color: #fff;
  }
}